<footer class="footer pri">
  <div>
    <a class="header-brand"  href="/">
    <img src="https://www.svgrepo.com/show/502707/html.svg" alt="" width="32"class="d-inline-block align-top" alt="CoreUI Logo">
    HTML Tags
    </a>
  </div>
  <div>
    <span>You are</span>
    <a href="https://coreui.io">OFLINE</a>
  </div>
</footer>