<header class="header pri">
  <a class="header-brand " href="/">
    <img src="https://www.svgrepo.com/show/502707/html.svg" alt="" class="d-inline-block align-top" alt="CoreUI Logo">
    HTML Tags
  </a>
  <a class="header-brand " href="/css">
    <img src="https://staging.svgrepo.com/show/102011/css-3.svg" alt="" class="d-inline-block align-top"
      alt="CoreUI Logo">
    CSS Properties
  </a>

  <ul class="header-nav ">
    <li class="nav-item me-4">
      <a class="nav-link " href="/">Home</a>
    </li>
    <li class="nav-item dropdown me-4">
      <a class="nav-link dropdown-toggle" id="headerDropdown" role="button" data-coreui-toggle="dropdown"
        aria-expanded="false">
        User
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" id="btn-sign-up">Sign up</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" id="btn-log-in">Log in</a>
      </div>
    </li>
    <li class="nav-item me-4">
      <a class="nav-link disabled" href="/create" tabindex="-1" id="btn-create-tags" aria-disabled="true">Create
        tags</a>
    </li>
    <li class="nav-item me-4">
      <a class="nav-link disabled" href="/favorites" tabindex="-1" id="btn-favorites-tags"
        aria-disabled="true">Favorites</a>
    </li>
  </ul>
  <form class="d-flex search-form" method="get" id="getTag" required>
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  <div class="custom-translate-container">
    <button class="translate-button" id="custom-btn">

      <span id="current-lang">English</span>
      <span class="arrow">▼</span>
    </button>
    <div class="custom-options" id="custom-options">
      <div class="option" data-lang="en">
        <img src="https://flagcdn.com/w40/gb.png" alt="English">
        <span>English</span>
      </div>
      <div class="option" data-lang="es">
        <img src="https://flagcdn.com/w40/es.png" alt="Spanish">
        <span>Spanish</span>
      </div>
      <div class="option" data-lang="fr">
        <img src="https://flagcdn.com/w40/fr.png" alt="French">
        <span>French</span>
      </div>
      <div class="option" data-lang="it">
        <img src="https://flagcdn.com/w40/it.png" alt="Italian">
        <span>Italian</span>
      </div>
      <div class="option" data-lang="de">
        <img src="https://flagcdn.com/w40/de.png" alt="German">
        <span>German</span>
      </div>
      <div class="option" data-lang="pt">
        <img src="https://flagcdn.com/w40/pt.png" alt="Portuguese">
        <span>Portuguese</span>
      </div>
    </div>
    <div id="google_translate_element"></div>
  </div>
</header>