<div class="container">
    <form action="post" method="post" id="myForm" required>
    <label for="tagName">Tag Name <span class="req">*</span></label>
    <input type="text" placeholder="Name" id="tagName" required>
    <label for="usability">Usability of the Tag <span class="req">*</span></label>
    <input type="text" placeholder="Usability" id="usability" required>
    <label for="content">Content of the Tag <span class="req">*</span></label>
    <input type="text" placeholder="Content" id="content" required>
    <input type="submit" value="Submit">
</form>

<button id="btn-go-home">Volver a Home</button> 

</div>