<div class="container">

  <form id="myForm" required>

    <label for="tagName">Tag Name <span class="req">*</span></label>
    <div class="input-wrapper">
      <span class="material-symbols-outlined" translate="no">label</span>
      <input type="text" name="tagName" placeholder="Name" id="tagName" required>
    </div>

    <label for="usability">Usability of the Tag <span class="req">*</span></label>
    <div class="input-wrapper">
      <span class="material-symbols-outlined" translate="no">info</span>
      <input type="text" name="usability" placeholder="Usability" id="usability" required>
    </div>

    <label for="content">General Content</label>
    <div class="input-wrapper">
      <span class="material-symbols-outlined" translate="no">article</span>
      <textarea name="content" id="content" placeholder="General description or content (optional)"></textarea>
    </div>

    <div id="attributesContainer">

      <div class="attributeBlock">

        <label>Atribute of the Tag <span class="req">*</span></label>

        <div class="input-wrapper">
          <span class="material-symbols-outlined" translate="no">edit_attributes</span>
          <input type="text" name="attributeName[]" placeholder="Attribute Name" required>
        </div>
        <div class="input-wrapper">
          <span class="material-symbols-outlined" translate="no">description</span>
          <input type="text" name="attributeInfo[]" placeholder="Attribute Info" required>
        </div>

      </div>

    </div>

    <button type="button" id="addAttributeBtn">+ Another Attribute</button>

    <input type="submit" value="Submit">

  </form>

  <button id="btn-go-home">Volver a Home</button>

</div>