<div class="container">
  <div class="edit-page-header">
    <h1 class="edit-title">
      <span class="material-symbols-outlined" translate="no">edit</span>
      Edit Item
    </h1>
    <p class="edit-subtitle">Update the information below and save your changes</p>
  </div>

  <form id="form-container" class="edit-form" required translate="no">
    <!-- Form content will be dynamically loaded here -->
  </form>
</div>