<div class="container">
    <form id="login-form" required>

        <div class="mb-3">
            <label for="user" class="form-label">Username or Email</label>
            <div class="form-text">
                <div class="input-wrapper">
                    <span class="material-symbols-outlined" translate="no">person</span>
                    <input type="text" name="user" class="form-control" id="login-input"
                        placeholder="Enter your username" maxlength="40" required>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="pass" class="form-label">Password</label>
            <div class="form-password">
                <div class="input-wrapper">
                    <span class="material-symbols-outlined" translate="no">lock</span>
                    <input type="password" class="form-control" name="pass" id="password-input"
                        placeholder="Enter your password" required>
                </div>
                <button type="button" class="form-password-action" id="toggle-password"
                    aria-label="Toggle password visibility">
                    <span class="material-symbols-outlined" id="toggle-password-icon" translate="no">visibility</span>
                </button>
            </div>
        </div>
        <input type="submit" value="Submit">
        <div class="login-divider">
            <hr><span>OR</span>
            <hr>
        </div>
        <a href="/users/google" class="btn-google">
            <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google Logo">
            Sign in with Google
        </a>
    </form>
</div>