<div class="container">
    <form action="get" method="get" id="login-form" required>

    <div class="mb-3">
        <label for="user" class="form-label">Username or email adress</label>
        <div class="form-text">
            <input type="text" class="form-control" id="user-input" placeholder="Enter your username or email">
        </div>
    </div>

    <div class="mb-3">
        <label for="pass" class="form-label">Password</label>
        <div class="form-password">
            <input type="password" class="form-control" id="pasword-input"  placeholder="Enter your password">
            <button type="button" class="form-password-action" data-coreui-toggle="password" aria-label="Toggle password visibility">
            <span class="form-password-action-icon"></span>
            </button>
        </div>
    </div>

    <input type="submit" value="Submit">

  </form>

  <button id="btn-go-home">Volver a Home</button> 
</div>