<div class="container">
  <div class="profile-container">
    <h1>User Profile</h1>
    
    <div class="profile-info">
      <div class="info-section">
        <img src="https://preview.redd.it/random-question-but-does-anyone-have-versions-of-this-cat-v0-ya8qikz9kn0f1.png?auto=webp&s=c2fdba9a3904ab3bec9e7367e380f66343c2929a" alt="">
        <h3>Account Information</h3>
        <p id="profile-username"><span class="material-symbols-outlined" style="vertical-align: middle; margin-right: 5px;">person</span>Name</p>
        <p id="profile-email"><span class="material-symbols-outlined" style="vertical-align: middle; margin-right: 5px;">mail</span>Email</p>
        <p id="profile-role"><span class="material-symbols-outlined" style="vertical-align: middle; margin-right: 5px;">badge</span>Role</p>
      </div>
      
      <div class="info-section">
        <h3 style="color: black;">Account Settings</h3>
        <p>Profile management features coming soon...</p>
      </div>
    </div>
  </div>
</div>
