.slide-alert {
  position: fixed;
  top: 20px;
  right: -300px;          /* Start off-screen */
  width: 250px;
  color: white;
  padding: 10px;
  z-index: 1050;
  transition: right 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  border-radius: 5px;
}
#success{
    background: green;
}
#alert{
    background: rgb(196, 26, 26);
}
.slide-alert.show {
  right: 20px;            /* Slide into position */
  opacity: 1;
}
