.container {
  width: 80%;
  margin: auto;
}

form {
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}

label {
  display: block;
}

input[type=text],
select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#toggle-password-icon,
#toggle-repeat-password-icon {
  position: absolute;
  right: 0.1em;
  top: 50%;
  transform: translateY(-50%);
  color: #ccc;
}

input[type=submit] {
  width: 100%;
  background-color: #cca31e;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #eeca54;
}

button {
  display: block;
  margin: auto;
}

label {
  display: block;
  margin-top: 1em;
}

.req {
  color: red;
}