@import url('./variables.css');

.container {
  width: 80%;
  margin: auto;
}

form {
  margin: auto;
  border-radius: var(--radius-small);
  background-color: var(--bg-light);
  padding: var(--spacing-lg);
  width: 50%;
}

label {
  display: block;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: var(--border-light);
  border-radius: var(--radius-small);
  box-sizing: border-box;
  font-family: inherit;
}

textarea {
  resize: vertical;
}

#toggle-password-icon,
#toggle-repeat-password-icon {
  position: absolute;
  right: 0.1em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-gray-lighter);
}

input[type=submit] {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: var(--radius-small);
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--color-primary-lighter);
}

button {
  display: block;
  margin: auto;
}

label {
  display: block;
  margin-top: 1em;
}

.req {
  color: var(--color-red);
}