@import url('./variables.css');

html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

footer {
  background-color: var(--color-black);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: var(--color-white);
}

.pri {
  background-color: var(--color-primary);
}

.sec {
  background-color: var(--color-secondary);
}

.ter {
  background-color: var(--color-secondary);
}

#app {
  margin-top: 4%;
  margin-bottom: 4%;
}

.search-form {
  position: relative;
  width: 20%;
}

.search-form .form-control {
  height: 30px;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}

.search-form .btn {
  height: 30px;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}

#error {
  margin: auto;
  text-align: center;
  align-content: center;
}

#error img {
  width: 5em;
}

#error .content-error {
  margin-top: 1em;
  padding: 1em;
}

#btn-sign-up,
#btn-log-in,
#btn-log-out,
#btn-go-profile {
  cursor: pointer;
}

#edit-form {
  background-color: var(--bg-light);
  padding: var(--spacing-lg);
  width: 50%;
  margin: auto;
}

#edit-form button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--spacing-sm) 8px;
  font-size: 14px;
  gap: var(--spacing-xs);
  align-items: center;
  display: block;
  margin: auto;
}

#label-name,
#label-utility {
  color: #f3c52d;
  margin-top: 1em;
}

#label-attributes {
  color: #ffcb1f;
  margin-top: 1em;
}