html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 40px;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}

.pri {
  background-color: #cca31e;
}

.sec {
  background-color: #9b884a;
}

.ter {
  background-color: #9b884a;
}

#app {
  margin-top: 4%;
  margin-bottom: 4%;
}

.search-form {
  position: relative;
  width: 20%;
  left: 8%;
}

.search-form .form-control {
  height: 30px;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}

.search-form .btn {
  height: 30px;
  font-size: 0.9rem;
  padding: 0 0.5rem;
}

#error {
  margin: auto;
  text-align: center;
  align-content: center;
}

#error img {
  width: 5em;
}

#error .content-error {
  margin-top: 1em;
  padding: 1em;
}

#btn-sign-up {
  cursor: pointer;
}

#btn-log-in {
  cursor: pointer;
}

#btn-log-out {
  cursor: pointer;
}

#btn-go-profile {
  cursor: pointer;
}

#edit-form {
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  margin: auto;
}

#edit-form button {
  background-color: #cca31e;
  color: white;
  padding: 10px 8px;
  font-size: 14px;
  gap: 5px;
  align-items: center;
  display: block;
  margin: auto;
}

#label-name,
#label-utility {
  color: #f3c52d;
  margin-top: 1em;
}

#label-attributes {
  color: #ffcb1f;
  margin-top: 1em;
}